In [1]:
import os
import joblib

import numpy as np
import pandas as pd
import seaborn as sns
import missingno as msno
import matplotlib.pyplot as plt
from scipy import stats

from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.model_selection import train_test_split, cross_val_score, KFold
from sklearn.preprocessing import StandardScaler, LabelEncoder, RobustScaler, OneHotEncoder

import shap
import optuna
import category_encoders as ce
import optuna.visualization as vis

import xgboost as xgb
import lightgbm as lgb
import catboost as cat

from pycaret.regression import *
# from pycaret.classification import *

from tqdm.notebook import tqdm

import warnings
warnings.filterwarnings('ignore')

In [15]:
train = pd.read_csv('../data/train.csv')
test = pd.read_csv('../data/test.csv')

In [50]:
ig_feats = ['tracking_id', 'datetime']

data_setup = setup(
    data=train,
    target='windmill_generated_power(kW/h)',
    ignore_features=ig_feats,
    feature_selection=True,
    transform_target=True,
    imputation_type='simple',
    numeric_imputation='median',
    categorical_imputation='mode',
    fold_shuffle=True,
)

AttributeError: 'Simple_Imputer' object has no attribute 'fill_value_categorical'

In [46]:
lgb = create_model('lightgbm')

In [32]:
cat = create_model('catboost')

In [33]:
evaluate_model(cat)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Hyperparameters', 'param…

In [39]:
ensembled_model = ensemble_model(cat)

In [40]:
final_model = finalize_model(ensembled_model)

In [41]:
preds = predict_model(final_model, data=test)

In [42]:
print(preds.shape)
preds.head()

(12086, 22)

,tracking_id,datetime,wind_speed(m/s),atmospheric_temperature(°C),shaft_temperature(°C),blades_angle(°),gearbox_temperature(°C),engine_temperature(°C),motor_torque(N-m),generator_temperature(°C),...,windmill_body_temperature(°C),wind_direction(°),resistance(ohm),rotor_torque(N-m),turbine_status,cloud_level,blade_length(m),blade_breadth(m),windmill_height(m),Label
0,WM_19817,2019-04-17 08:53:20,94.324266,17.641186,89.714193,51.146788,40.460560,39.594734,1073.202715,66.830037,...,43.756693,445.976992,1664.222023,21.912243,BA,Medium,3.185837,0.403965,25.572431,2.462297
1,WM_18723,2019-03-30 07:43:20,10.088870,13.978119,43.272846,46.516394,40.027788,41.176860,517.436430,37.284163,...,42.728174,499.595287,1165.111992,-35.050093,A,Medium,3.016603,0.444755,24.371823,2.347521
2,WM_34552,2019-08-10 11:33:20,347.152090,31.423035,41.076640,26.931602,43.109122,43.439556,1480.716492,70.010762,...,43.256122,245.432231,1667.720491,27.195302,B2,Medium,2.611941,0.387368,27.654677,3.223367
3,WM_28570,2019-06-26 03:53:20,24.471997,-99.000000,14.375078,66.513953,13.741253,15.577472,887.979475,41.445258,...,13.501595,NaN,1329.744740,15.245757,BBB,Low,2.866805,0.450478,24.189426,7.290450
4,WM_36934,2019-08-27 16:43:20,96.997026,33.281836,41.405192,1.843112,121.572907,43.934587,2053.916354,68.007787,...,-99.000000,442.425744,691.408996,34.257024,A,Low,3.549672,0.368355,4.885440,3.629213

In [43]:
sub = pd.DataFrame({
    'tracking_id': test['tracking_id'],
    'datetime': test['datetime'],
    'windmill_generated_power(kW/h)': preds['Label'],
})

print(sub.shape)
sub.head()

(12086, 3)

  tracking_id             datetime  windmill_generated_power(kW/h)
0    WM_19817  2019-04-17 08:53:20                        2.462297
1    WM_18723  2019-03-30 07:43:20                        2.347521
2    WM_34552  2019-08-10 11:33:20                        3.223367
3    WM_28570  2019-06-26 03:53:20                        7.290450
4    WM_36934  2019-08-27 16:43:20                        3.629213

In [44]:
sub.to_csv('../submissions/pycaret_catboost_ensemble.csv', index=False)