In [20]:
from pycaret.classification import *

from sklearn.linear_model import LogisticRegression

from tqdm.notebook import tqdm

import warnings
warnings.filterwarnings('ignore')

In [26]:
train = pd.read_csv('../data/fe_train2.csv')
test = pd.read_csv('../data/fe_test2.csv')


raw_test = pd.read_csv('../data/test.csv')

In [3]:
train.head()

,Aged,CyberProtection,TechnicalAssistance,SettlementProcess,QuarterlyPayment,CustomerAttrition,GP / QP,GP / ServiceSpan,QP / ServiceSpan,aged_married,aged_dependents,married_dependents,cyber_tech,ss_cluster,gp_cluster
0,0,0,1,2,96.259802,1.0,48.079562,94.451615,1.964486,0,1,1,1,0,1
1,0,0,0,0,18.876470,0.0,48.848434,20.045348,0.410358,1,0,2,0,0,0
2,1,1,1,1,106.016057,1.0,58.537275,103.431519,1.766934,3,2,2,3,2,1
3,0,0,0,2,80.108839,0.0,15.586987,83.243693,5.340589,0,0,0,0,1,0
4,0,0,0,2,51.529773,0.0,24.943274,49.435434,1.981914,1,1,3,0,3,0

In [6]:
ig_feats = ['ID']
num_feats = test.columns.tolist()

data_setup = setup(
    data=train,
    target='CustomerAttrition',
    train_size=0.75,
#     ignore_features=ig_feats,
#     imputation_type='iterative',
#     numerical_imputation='',
    preprocess=False,
    fold_shuffle=True,
    
)

In [8]:
best_models = compare_models(n_select=3)

In [9]:
gbc = create_model('gbc')

In [10]:
cat = create_model('catboost')

In [11]:
ada = create_model('ada')

In [12]:
tuned_gbc = tune_model(gbc)

In [13]:
tuned_cat = tune_model(cat)

In [14]:
tuned_ada = tune_model(ada)

In [34]:
blended_models = blend_models([gbc, tuned_cat, tuned_ada])

In [22]:
stacked_models = stack_models([tuned_gbc, tuned_cat, tuned_ada], LogisticRegression())

In [35]:
final_model = finalize_model(blended_models)

In [36]:
preds = predict_model(final_model, data=test)
preds.head()

,Aged,CyberProtection,TechnicalAssistance,SettlementProcess,QuarterlyPayment,GP / QP,GP / ServiceSpan,QP / ServiceSpan,aged_married,aged_dependents,married_dependents,cyber_tech,ss_cluster,gp_cluster,Label,Score
0,0,0,0,2,21.299937,7.093567,16.788058,2.366660,0,0,0,0,1,2,0.0,0.7753
1,0,0,0,2,56.609623,27.438391,57.528777,2.096653,0,0,0,0,3,0,0.0,0.7280
2,0,0,0,1,25.167690,66.921613,25.138245,0.375637,0,0,0,0,2,0,0.0,0.8247
3,1,0,1,0,55.560968,32.934532,57.183577,1.736280,2,2,0,1,3,0,0.0,0.7280
4,0,0,0,0,20.070002,24.405487,22.264462,0.912273,1,1,3,0,3,2,0.0,0.8240

In [37]:
sub = pd.DataFrame({
    'ID': raw_test['ID'],
    'CustomerAttrition': preds['Label']
})
# sub['CustomerAttrition'] = sub['CustomerAttrition'].astype(int)

sub['CustomerAttrition'] = sub['CustomerAttrition'].replace({'0.0': 'No', '1.0': 'Yes'})
print(sub['CustomerAttrition'].value_counts(normalize=True))
sub.head()

No     0.8
Yes    0.2
Name: CustomerAttrition, dtype: float64

                     ID CustomerAttrition
0  WMORTPCG3HTIPEFSGUFY                No
1  GBLPEA16C3KGBO57KEFO                No
2  IDCQS0CO5P29AMKY3LO1                No
3  1IY29SDITYU6IFZ4KJB0                No
4  T5XMW5B0YPCONH30WJD2                No

In [38]:
sub.to_csv('../submissions/pyc1.csv', index=False)

In [17]:
evaluate_model(best_models)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Hyperparameters', 'param