In [1]:
import os
import joblib

import numpy as np
import pandas as pd
import seaborn as sns
import missingno as msno
import matplotlib.pyplot as plt
from scipy import stats

from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.model_selection import train_test_split, cross_val_score, KFold
from sklearn.preprocessing import StandardScaler, LabelEncoder, RobustScaler, OneHotEncoder

import shap
import optuna
import category_encoders as ce
import optuna.visualization as vis

import xgboost as xgb
import lightgbm as lgb
import catboost as cat

from pycaret.classification import *

from tqdm.notebook import tqdm

import warnings
warnings.filterwarnings('ignore')

In [2]:
train = pd.read_csv('../data/clean_train4.csv')
test = pd.read_csv('../data/clean_test4.csv')

In [3]:
print(train.info())
train.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2802 entries, 0 to 2801
Data columns (total 16 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   age                  2802 non-null   int64
 1   job_type             2802 non-null   int64
 2   marital_status       2802 non-null   int64
 3   education_level      2802 non-null   int64
 4   balance_amt          2802 non-null   float64
 5   household_insurance  2802 non-null   int64
 6   car_loan             2802 non-null   int64
 7   communication        2802 non-null   int64
 8   last_contact_day     2802 non-null   int64
 9   last_contact_month   2802 non-null   int64
 10  no_of_contacts       2802 non-null   int64
 11  prev_attempts        2802 non-null   int64
 12  Outcome              2802 non-null   int64
 13  car_insurance        2802 non-null   int64
 14  call_duration        2802 non-null   float64
 15  zero_neg_balance     2802 non-null   int64
dtypes: float64(2), int64(14)
memory usage: 350.4 KB
None

,age,job_type,marital_status,education_level,balance_amt,household_insurance,car_loan,communication,last_contact_day,last_contact_month,no_of_contacts,prev_attempts,Outcome,car_insurance,call_duration,zero_neg_balance
0,47,1,1,0,1112.000000,1,0,0,12,8,1,0,3,0,2.150000,0
1,46,4,1,2,1.312372,0,1,0,14,8,3,1,1,1,293.300000,0
2,36,7,2,1,281.000000,1,0,0,15,8,1,0,3,1,8.583333,0
3,32,9,2,1,540.000000,0,1,0,28,4,1,0,3,1,12.500000,0
4,30,0,2,1,315.000000,1,0,0,13,8,3,4,0,1,14.733333,0

In [4]:
num_feats = test.columns.tolist()

data_setup = setup(
    data=train,
    target='car_insurance',
    train_size=0.75,
    numeric_features=num_feats,
    fold_shuffle=True,
)

AttributeError: 'Simple_Imputer' object has no attribute 'fill_value_categorical'

In [13]:
best_model = compare_models(n_select=2)

In [18]:
cat = create_model('catboost')

In [19]:
lgb = create_model('lightgbm')

In [20]:
evaluate_model(cat)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Hyperparameters', 'param

In [16]:
best_model

[<catboost.core.CatBoostClassifier at 0x7f702a7d63a0>,
 LGBMClassifier(boosting_type='gbdt', class_weight=None, colsample_bytree=1.0,
                importance_type='split', learning_rate=0.1, max_depth=-1,
                min_child_samples=20, min_child_weight=0.001, min_split_gain=0.0,
                n_estimators=100, n_jobs=-1, num_leaves=31, objective=None,
                random_state=1451, reg_alpha=0.0, reg_lambda=0.0, silent=True,
                subsample=1.0, subsample_for_bin=200000, subsample_freq=0)]

In [21]:
ensembled_model = ensemble_model([cat, lgb], fold=5)

ValueError: Estimator [<catboost.core.CatBoostClassifier object at 0x7f704ac18250>, LGBMClassifier(boosting_type='gbdt', class_weight=None, colsample_bytree=1.0,
               importance_type='split', learning_rate=0.1, max_depth=-1,
               min_child_samples=20, min_child_weight=0.001, min_split_gain=0.0,
               n_estimators=100, n_jobs=-1, num_leaves=31, objective=None,
               random_state=1451, reg_alpha=0.0, reg_lambda=0.0, silent=True,
               subsample=1.0, subsample_for_bin=200000, subsample_freq=0)] does not have the required fit() method.

In [7]:
final_model = finalize_model(best_model)

In [9]:
preds = predict_model(final_model, data=test)
preds.head()

,age,job_type,marital_status,education_level,balance_amt,household_insurance,car_loan,communication,last_contact_day,last_contact_month,no_of_contacts,prev_attempts,Outcome,call_duration,zero_neg_balance,Label,Score
0,65,5,1,1,20806.0,0,0,1,7,0,2,0,3,8.716667,0,1,0.7714
1,36,4,1,2,900.0,1,0,0,14,8,2,0,3,7.916667,0,0,0.6538
2,37,4,1,2,6771.0,0,0,0,6,11,1,1,2,5.616667,0,1,0.9770
3,30,4,2,2,0.0,0,0,0,13,8,2,0,3,974.450000,1,1,0.9938
4,41,4,1,2,328.0,1,0,0,28,5,12,0,3,1.083333,0,0,0.9978

In [11]:
sub = pd.DataFrame({
    'prediction': preds['Label'].astype(int)
})
print(sub.shape)
print(sub.value_counts())
sub.head()

(935, 1)
prediction
1             549
0             386
dtype: int64

   prediction
0           1
1           0
2           1
3           1
4           0

In [12]:
sub.to_csv('../submissions/pycaret1.csv', index=False)