In [1]:
from pycaret.classification import *

import warnings
warnings.filterwarnings('ignore')

In [9]:
train = pd.read_csv('../data/clean_train1.csv')
test = pd.read_csv('../data/clean_test1.csv')

raw_train = pd.read_csv('../data/Train_data.csv')
raw_test = pd.read_csv('../data/Test_data.csv')

In [3]:
print(train.info())
train.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1101 entries, 0 to 1100
Data columns (total 20 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   GP       1101 non-null   float64
 1   MIN      1101 non-null   float64
 2   PTS      1101 non-null   float64
 3   FGM      1101 non-null   float64
 4   FGA      1101 non-null   float64
 5   FG%      1101 non-null   float64
 6   3P Made  1101 non-null   float64
 7   3PA      1101 non-null   float64
 8   3P%      1101 non-null   float64
 9   FTM      1101 non-null   float64
 10  FTA      1101 non-null   float64
 11  FT%      1101 non-null   float64
 12  OREB     1101 non-null   float64
 13  DREB     1101 non-null   float64
 14  REB      1101 non-null   float64
 15  AST      1101 non-null   float64
 16  STL      1101 non-null   float64
 17  BLK      1101 non-null   float64
 18  TOV      1101 non-null   float64
 19  Target   1101 non-null   int64
dtypes: float64(19), int64(1)
memory usage: 172.2 KB
None

,GP,MIN,PTS,FGM,FGA,FG%,3P Made,3PA,3P%,FTM,FTA,FT%,OREB,DREB,REB,AST,STL,BLK,TOV,Target
0,-0.046431,-0.374135,-0.795033,-0.819002,-1.129274,1.166817,0.386891,-0.222559,50.0,-0.527282,-0.856955,0.721175,0.574642,0.622515,0.575923,-0.917968,-0.795424,0.690810,-1.218283,1
1,-1.547890,-0.738111,-0.795033,-0.957288,-0.667467,-1.445737,1.210295,1.381483,25.8,-0.991488,-0.685844,-1.454645,-1.095813,-0.567403,-0.791302,-1.138188,-0.795424,-0.754473,-2.431858,0
2,-0.675515,-1.017193,-0.300396,-0.348123,-0.610042,0.962458,-0.947395,-0.781462,0.0,0.293510,0.479642,-0.939706,-0.781027,-1.053931,-1.031504,-0.383897,-0.007412,0.690810,0.024180,0
3,1.270732,1.274604,1.221767,0.896423,1.204391,-1.075568,1.763193,1.763725,32.9,1.560218,1.332446,1.565884,0.124446,0.035627,0.072522,1.606109,1.618826,-0.754473,1.470639,1
4,-0.105482,0.385780,0.140615,-0.151647,0.222317,-1.198129,-0.947395,-0.781462,25.0,1.003075,1.239557,-0.922297,-0.508745,-1.246234,-1.031504,0.734019,1.346068,-0.123071,1.017282,0

In [5]:
print(test.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 555 entries, 0 to 554
Data columns (total 19 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   GP       555 non-null    float64
 1   MIN      555 non-null    float64
 2   PTS      555 non-null    float64
 3   FGM      555 non-null    float64
 4   FGA      555 non-null    float64
 5   FG%      555 non-null    float64
 6   3P Made  555 non-null    float64
 7   3PA      555 non-null    float64
 8   3P%      555 non-null    float64
 9   FTM      555 non-null    float64
 10  FTA      555 non-null    float64
 11  FT%      555 non-null    float64
 12  OREB     555 non-null    float64
 13  DREB     555 non-null    float64
 14  REB      555 non-null    float64
 15  AST      555 non-null    float64
 16  STL      555 non-null    float64
 17  BLK      555 non-null    float64
 18  TOV      555 non-null    float64
dtypes: float64(19)
memory usage: 82.5 KB
None

In [14]:
temp = raw_train[['GP', 'Target']]
temp

        GP  Target
0     59.0       1
1     31.0       0
2     48.0       0
3     80.0       1
4     58.0       0
...    ...     ...
1096  49.0       1
1097  35.0       1
1098  65.0       0
1099  55.0       0
1100  55.0       1

[1101 rows x 2 columns]

In [15]:
data_setup = setup(
    data=temp,
    target='Target',
    train_size=0.75,
    preprocess=False,
    fold_shuffle=True,
)

In [16]:
best_model = compare_models()

In [11]:
best_model = compare_models()